@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300&family=EB+Garamond&family=Gentium+Basic&family=Julius+Sans+One&family=Nanum+Gothic&display=swap');


h1 {
  font-family: "Julius Sans One", sans-serif;
  font-size: 54px;
}

body {
  max-width: 960px;
  margin: 0 auto;
  color: #0d335d;
  background-color: #fff3e6;
}
header {
  background-color: #c1a1d3;
}

main {
  background-color: #c1a1d3;
}

p{
  font-family: "EB Garamond", sans-serif;
  font-size: 20px;
}

#finalheader {
  background-color: #c1a1d3;
  margin-top: 303px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "head head head"
  "fdisc fdisc fdisc"
  "nav  nav   nav"


 }
nav ul {
  font-family: "Julius Sans One", sans-serif;
  list-style-type: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

}


a:link {
  color: #0d335d;
}

a:visited {
  color: #fff3e6;
}

a:hover {
  color: #1a508b;
}

a:active {
  color: #c1a1d3;
}

figure {
  margin: 0;
}

#infohead {
  color: ;
  background-color: ;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
  "infohead infohead"
}

#imain {
  padding-bottom: 202px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "info  idisc"
}

#tmain {
  background-color: #c1a1d3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "tad             tdisc"
  "torontomockup1 torontomockup1"
  "torontomockup2 torontomockup2"
  "torontobillboard torontobillboard"
  "torontobillboardmockup torontobillboardmockup"
}

#smain {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "sad         sdisc"
  "seattlemockup1 seattlemockup1"
  "seattlemockup2 seattlemockup2"
  "seattlebillboard seattlebillboard"
  "seattlebillboardmockup seattlebillboardmockup"

}

#mmain {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "spread1 mdisc"
}

#infohead {
  grid-area: infohead;
  margin-top: -40px;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 0;
  border-bottom: 2px;
  border-bottom-style: solid;

}

#info {
  grid-area: info;
}



#idisc {
  grid-area: idisc;
  padding-left: 10px;
  padding-right: 10px;
}

#head {
  grid-area: head;
  padding-left: 2px;

}
#fdisc {
  grid-area: fdisc;
}

#nav {
  grid-area: nav;
  margin-top: -38px;
}

#tad{
  grid-area: tad;
}

#tdisc{
  grid-area: tdisc;
  padding-left: 10px;
  padding-right: 10px;
}

#thead {
  margin-top: -40px;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 0;
  border-bottom: 2px;
  border-bottom-style: solid;

}

#torontomockup1 {
  grid-area: torontomockup1;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

#torontomockup2 {
  grid-area: torontomockup2;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

#torontobillboard {
  grid-area: torontobillboard;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

#torontobillboardmockup {
  grid-area: torontobillboardmockup;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

#shead {
  grid-area: shead;
  margin-top: -40px;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 0;
  border-bottom: 2px;
  border-bottom-style: solid;

}

#sad {
  grid-area: sad;
}

#sdisc {
  grid-area: sdisc;
  padding-right: 10px;
  padding-left: 10px;
}

#seattlemockup1 {
  grid-area: seattlemockup1;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

#seattlemockup2 {
  grid-area: seattlemockup2;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

#seattlebillboard {
  grid-area: seattlebillboard;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

#seattlebillboardmockup {
  grid-area: seattlebillboardmockup;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

#mhead {
  grid-area: mhead;
  margin-top: -40px;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 0;
  border-bottom: 2px;
  border-bottom-style: solid;

}
#mmain {
  grid-area: mmain;
}

#mdisc {
  grid-area: mdisc;
  padding-right: 10px;
  padding-left: 10px;
}


#spread1 {

}

#spread2 {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}


#spread3 {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

#spread4 {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

#spread5 {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
